<header class="masthead">
  <a class="masthead-title" href="{{ '/' | relative_url }}" title="Home">'{{ site.title }} {{ site.tagline }} {{ site.subtitle }}'</a>
  <small class="masthead-tagline">{{ site.tagline }} {{ site.subtitle }}</small>
  {% if site.data.navigation %}
    <nav class="nav">
      <ul class="nav-list">
      {%- for item in site.data.navigation -%}
        <li class="nav-item">
          <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
        </li>
      {%- endfor -%}
      </ul>
    </nav>
  {% endif %}
<a href="https://www.buymeacoffee.com/mutterschiff"><img src="https://img.buymeacoffee.com/button-api/?text=Unterstütze das Mutterschiff&emoji=🍺&slug=mutterschiff&button_colour=5F7FFF&font_colour=ffffff&font_family=Lato&outline_colour=000000&coffee_colour=FFDD00"></a>
</header>

